.carousel {

.tint {

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .25);
  @media (max-width:500px) {
    background-color: rgba(0,0,0,0);
  }
}

  .bg {

    height: 40rem;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
}

.preloader {
  @media screen {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
    img {
      display: block;
      @media print {
        visibility: hidden;
        display: none;
      }
    }


}