.navbar-inverse {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $nearBlack;
  z-index: auto;

  .navbar-nav {
    & > li {
      & > a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        color: $nearWhite;
        font-size: 3vh;
      }
    }
    .dropdown-menu {
      & > li {
        & > a {
          margin-top: 2rem;
          margin-bottom: 2rem;
          color: $nearWhite;
          font-size: 3.5vmin;

        }
      }
    }
  }

  .dropdown-toggle .glyphicon {
    float: right;
  }

  .navbar-brand:focus,
  .navbar-brand:active,
  .navbar-nav li a:focus,
  .navbar-nav li a:active {
    outline: none;
  }

  .navbar-nav li a:hover,
  .navbar-nav .active {
    outline: none;
    background-color: rgba(255, 255, 255, .3);
  }

  .navbar-brand {
    color: $nearWhite;
    font-weight: 700;
    font-size: 5vmin;
  }

}

@media (max-width: 767px) {
  .navbar-inverse {
    .navbar-nav {
      & > li {
        & > a {
          font-size: 4vmax;
        }
      }
      .open {
        .dropdown-menu {
          & > li {
            & > a {
              font-size: 4vmax;
              color: $nearWhite;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 767px) {

  .navbar-inverse {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: all .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: all .5s ease-in-out, padding .5s ease-in-out;
    transition: all .5s ease-in-out, padding .5s ease-in-out;

  }

  .navbar-right .dropdown-menu {

    border: none;
    outline: none;
    right: auto;
    background-color: rgba(0, 0, 0, .3);
    &.darken {
      background-color: $nearBlack;
    }
  }

  .darken {
    padding: 0;
    background-color: $nearBlack;
    box-shadow: 0 .7rem 5px rgba(1, 1, 1, .3);
  }

  .navbar.darken {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .dropdown-menu.dropdownCollapse {
    //    background-color: rgba(0, 0, 0, .3);
  }

}

