@mixin transition($type) {
  -webkit-transition: $type .5s ease-in-out;
  -moz-transition: $type .5s ease-in-out;
  -ms-transition: $type .5s ease-in-out;
  -o-transition: $type .5s ease-in-out;
  transition: $type .5s ease-in-out;
}

@mixin animate($type, $time) {

  -webkit-animation: $type $time ease;
  -moz-animation: $type $time ease;
  -o-animation: $type $time ease;
  animation: $type $time ease;
}

$brandBGC: rgba(255, 255, 255, .3);

.navbar-brand {
  padding: 0;
}

.navbar-inverse {

  @include transition(background);

  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  text-transform: uppercase;
  //  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  z-index: auto;
  //background-color: chartreuse;
  //$sanity

  @media (min-width: 768px) {

    @include clickThrough;
    background-color: transparent;
    border: 0;
    //background-color: darkmagenta;
    //$sanity
    &.darken {
      @include clickable;
      background-color: rgba(1, 1, 1, .9);
      border-bottom: 1px solid rgba(255, 255, 255, .3);
      //background-color: aquamarine;
      //$sanity
    }
  }

  .navbar-nav {
    & > li {
      & > a {
        letter-spacing: .5rem;
        font-size: 2.5rem;
        color: $nearWhite;
        //background-color: darksalmon;
        //$sanity

        .glyphicon {

          display: block;
          float: right;
          //background-color: forestgreen;
          //$sanity
        }
      }

      & > a:active,
      & > a:focus {
        outline: none;
        //background-color: lightslategrey;
        //$sanity
      }

      & > a:hover {
        @include transition(background);
        background-color: rgba(255, 255, 255, .3);
      }
    }
    @media(min-width: 768px) {

      @include clickThrough;
      position: absolute;
      right: 1.5rem;
      top: 1rem;

      //background-color: gray;
      //$sanity

      &.darken {
        @include clickable;
        top: 4.2rem;
        bottom: 2rem;
        //background-color: orchid;
        //$sanity
      }
      & > li {
        //        background-color: #392fff;
        //$sanity

        & > a {
          @include clickable;
          @include shadow;
          color: $nearWhite;

          //background-color: mediumseagreen;
          //$sanity

          &.darken {
            margin-top: .75rem;
            //background-color: navy;
            //$sanity
          }
        }
      }

    }
  }

  .navbar-header {

    //background-color: green;
    //$sanity
  }

  .navbar-brand {

    display: inline-block;
    position: relative;
    width: 23rem;
    color: $nearWhite;
    letter-spacing: .2rem;
    word-spacing: 1rem;
    font-size: 2.5rem;
    padding-top: .2rem;
    padding-left: .2rem;
    @include brandShadow;

    //background-color: khaki;
    //$sanity

    &:focus,
    &:active {
      outline: none;
      //background-color: #0b041d;
      //$sanity
    }

    @media (min-width: 768px) {

      @include boxshadow;
      @include clickThrough;

      width: 30rem;
      height: 100%;
      padding-left: 2rem;
      color: $nearWhite;
      font-size: 4rem;
      letter-spacing: 1rem;
      line-height: 5rem;
      background-color: $brandBGC;

      &.darken {
        @include clickable;
        @include animate(fadeIn, 1s);
        width: 67rem;
        padding-left: .5rem;

        //background-color: cadetblue;
        //$sanity

        background-color: transparent;

        &:hover {
          background-color: $brandBGC;
        }
        &:focus,
        &:active {
          background-color: transparent;
        }
      }

      //background-color: #aa5567;
      //$sanity

      &:active,
      &:focus,
      &:hover {
        background-color: $brandBGC;
        //background-color: mediumorchid;
        //$sanity
      }

    }

  }

  .address {
    word-spacing: .4rem;
    display: none;
    @include shadow;
    //background-color: deepskyblue;
    //$sanity

    @media(min-width: 768px) {
      margin-top: 11rem;
      font-size: 3rem;
      display: block;
      color: $nearWhite;
      @include shadow;
      @include boxshadow;
      background-color: $nearBlack;
      padding: 5rem 1rem 1rem 1rem;

      //background-color: fuchsia;
      //$sanity

      &.darken {
        margin: 0;
        opacity: 0;
        height: 0;
        visibility: hidden;

        //background-color: darksalmon;
        //$sanity
      }

    }
  }

  .phone {
    color: $nearWhite;
    @include shadow;

    //background-color: #7f61e8;
    //$sanity

    @media(min-width: 768px) {
      color: $nearWhite;
      float: right;
      font-size: 3rem;
      font-weight: 700;
      width: 22rem;
      padding-top: .2rem;
      padding-bottom: .7rem;
      text-align: center;
      @include shadow;
      //background-color: olivedrab;
      //$sanity

      &.darken {
        padding-top: 0;
        padding-bottom: 1rem;
        float: left;

        //background-color: firebrick;
        //$sanity
      }
    }
  }

  .nav {
    .dropdown-toggle {

      //background-color: firebrick;
      //$sanity
    }
  }

  .dropdown-menu {

    right: auto;
    background-color: rgba(1, 1, 1, .5);
    background-clip: border-box;
    //        background-color: lawngreen;
    //    $sanity

    &.darken {

      background-color: $nearBlack;
      //background-color: hotpink;
      //$sanity
    }

    & > li {
      //background-color: cyan;
      //$sanity
      & > a {

        color: $nearWhite;
        @include shadow;
        @include clickable;
        margin-top: 1rem;
        font-size: 2rem;

        background-color: transparent;

        //background-color: darkgoldenrod;
        //$sanity

        &:hover {

          background-color: rgba(255, 255, 255, .4);

        }
      }

    }
  }
}



