$nearWhite: #e2e2e2;
$nearBlack: #141414;
$textColor: $nearBlack;

body {
  font: 20px/150% "Raleway", Verdana, sans-serif;
  color: $textColor;
  background: $nearWhite;
}

input,
textarea,
button {
  font: inherit;
}

.content {
  background-color: $nearWhite;
  margin-top: 40rem;
  z-index: -1;
}


@media (max-width: 767px) {

  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }

}

@import "navbar";
@import "carousel";
@import "loader";
@import "animations";