$nearWhite: #e2e2e2;
$nearBlack: #141414;
$textColor: $nearBlack;
$carouselHeight: 70vh;

body {
  font: 20px/150% "Raleway", Verdana, sans-serif;
  color: $textColor;
  background: $nearWhite;
}

input,
textarea,
button {
  font: inherit;
}

@media (max-width: 767px) {

  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }

}

@import "animations";
@import "navbar";
@import "carousel";
@import "loadspinner";
@import "content";
@import "preloader";