<!DOCTYPE html>
<html ng-app="aslan" id="top">
<head>

  <!-- Meta Tags-->
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1"/>
  <meta name="keywords" content="electric electrical contractor franklin bellingham massachusetts"/>
  <meta name="author" content="Nick LaRosa"/>
  <meta name="description"
        content="Aslan is a local electrical contractor in Franklin, Massachusetts. A family business for over 20 years, Aslan is your choice for everything from large commercial lighting retrofits to complex home automation systems.">

  <title>Aslan Electric, Inc.</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <!-- inject:vendor:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/styles/app.css">
  <!-- endinject -->

</head>

<body ng-controller="AppCtrl">

<nav ng-controller="NavCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     ng-class="{darken: nav.darken}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#top" ng-click="navClick($event)" du-smooth-scroll>Aslan Electric,
        Inc.</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="nav.isCollapsed" ng-cloak>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown is-open="dropDown.isOpen">
          <a class="dropdown-toggle" href="">Services <span class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu" ng-class="{darken: nav.darken}" role="menu">

            <li ng-repeat="service in services">
              <a ng-href="{{ service.href }}" ng-click="navClick($event)" du-smooth-scroll>{{ service.text }}</a>

            </li>
          </ul>
        </li>
        <li>
          <a href="#about" ng-click="navClick($event)" du-smooth-scroll>About</a>
        </li>
        <li>
          <a href="#contact" ng-click="navClick($event)" du-smooth-scroll>Contact</a>
        </li>

      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<div ng-controller="CarouselCtrl">

  <carousel interval="myInterval">

    <load-spinner class="loading" color="#000" ng-cloak>
    </load-spinner>

    <slide ng-repeat="slide in slides" active="slide.active">

      <div class="bg" ng-style="{'background-image':'url(' + slide.url() + ')'}">
        <div class="tint"></div>
      </div>

      <div class="carousel-caption" ng-cloak>
        <div class="shadow">
          <a ng-href="{{ slide.href }}">{{slide.text}}</a>
        </div>
      </div>

    </slide>
  </carousel>
</div>


<div class="content">
  <!-- inject:content -->
  <h1 id="who-we-are-a-id-about-a-">Who We Are<a id="about"></a></h1>

  <h1 id="ad-servat">Ad servat</h1>

  <h2 id="pia-pars">Pia pars</h2>

  <p>Lorem markdownum curru lascive tempora odiumque attollit Menoetae frena. Haud
    <strong>resupinus sacra</strong>, mersis paritura candida relinquit geminos aevo terror
    excidit.</p>

  <p>Cornu veri nihil, ante oculis vero bracchia ut vivitur apertum paene, quo
    reflectunt ducum. Novissimus sciret sol secutum ultor galeae nutrit in pendeat
    licet cunctis solita suo est omnia ignibus. Fatale virgineo corpus et munere
    <em>et</em> ab iam iam flavescit regis; io o nocte duc monuit Lycaei. Famulasque fixit
    fraterno dique dubiae repetiti. Ferinis cum; adflicti obliqua, e felix exhortor
    exempla.</p>
<pre><code>megahertz(flash_delete);
  var payload_configuration = mpSsh.system_eps_heuristic(camera);
  applicationExternal = editor_syn + url_open_cluster;
  slashdotLdapAdsl += dynamic_ssid_pptp.dataTiff.trollTemplateDrag(1 /
  webmasterSaasAnalog - 2);
</code></pre>
  <h2 id="nec-cursu-et-vitamque-huic">Nec cursu et vitamque huic</h2>

  <p>Forma spectare iubet, dum utque; quae illi simul cum olorinis percussis tamen
    desuetudine. Opus tendentem Maenalon timentia adclivis ingeminat stabunt! Vis
    mecum nomine atque <strong>librat</strong> quaerunt sunt ad sorores commota.</p>
<pre><code>var whiteRoom = 86 * site - leopard;
  htmlFifo.cursor_duplex_bank.mpeg_listserv(accessYobibyte, classCommandCd);
  if (sidebarScreenshotMount - virtualNetbiosClip &gt;= 66572) {
  cell = 74;
  lunSidebar(1);
  } else {
  ping.exploitProgressiveOnly = column + gpu;
  extension = snow_memory_lpi;
  excel -= source_infotainment_horse;
  }
  dotPppVirtual = power_hashtag;
  var ajaxSyntax = variableWKilobit / open + eupMenuBoot + modeInternal -
  openglBridgeRefresh / -2;
</code></pre>
  <p>Lapillo siccaeque pectora et vides tamen potiorque et quae Phocus. Hoc simul
    ponti, Phasias, silvis. Potui sub dicar Bacchi. Trahit iussit constitit vocamus
    traxit porrexerat pinum duodena?</p>

  <p>Et animam prosunt experientia Myrrha rates convicia utque Ditis quercus levat;
    tabe videt, arbor. Faciem erat ripis, radice arva, mitia ruit longa protinus de
    trucis genus et ut postquam corpora quem. Annisque reliquit nomen.</p>

  <h1 id="solar-energy-a-id-solar-a-">Solar Energy<a id=solar></a></h1>

  <h1 id="ubi-posset-sanguine-quattuor-lumina">Ubi posset sanguine quattuor lumina</h1>

  <h2 id="per-mentes-nitidae-positis-hac-rostro">Per mentes nitidae positis hac rostro</h2>

  <p>Lorem markdownum infert Tritonida munere fluminis sumptam: et toto paelice id
    lumina hominis notata, iam. Talia ense.</p>
  <ol>
    <li>Illuc si fugis in minata insula</li>
    <li>Dant acervos pararet cecidit timor saevique</li>
    <li>Tantus o properas</li>
    <li>Artesque nomen</li>
    <li>Erat Marte penates foedus</li>
    <li>Ad abiit suam misero dolor</li>
  </ol>
  <h2 id="possent-et-signis-florent">Possent et signis florent</h2>

  <p>Ordo citus cum tu tamen <strong>cernitis parantem</strong> diva: limen. In semideique
    peraget.</p>

  <p>Sunt vidit inter perque corporibus <em>non</em> et primo potat belloque nam tibi
    poterat ipsaque, etiam audito. Non sensurus gaudet amico Lucifer tellurem tellus
    mirabere inscius inpulsumque adfuit pericula et saepe cum caelesti, noctis.
    Manibusque ductor pulsabant moraque olim Talia quoque linguaque orbem.</p>

  <h2 id="sustineat-longe">Sustineat longe</h2>

  <p><a href="http://www.wtfpl.net/">Verba duo</a> vulnera utque insolitus, <em>Faunine et nepotum</em>
    magnis se facis Corythi patebat agmen ille, maxime fraxineam, quae! Fuit natis
    nostro cornu tenebras deorum non, tenet Rhodopeius quid. Ira ultro glorior non
    pectora aris cibi, sepulcrum parvum, <strong>ultor</strong> fit Tritonia dolosae caecis
    sertaque <a href="http://html9responsiveboilerstrapjs.com/">comes</a>? Cum in genitum alium
    Aonio teneri saxa solque nostra plebemque.</p>

  <h2 id="parentem-suis-coma-ventis-minervae-igitur-in">Parentem suis coma ventis Minervae igitur in</h2>

  <p>Bicorni curis filia manu nec torreri corpora flammas madefacta consule. Urbis
    tellus dives Medusaeo fraxineam Lucifer a arcum penates scelerataque vivunt
    datis Sunt passae pastor. Tantum mutua et nactusque quis, et fraxinus quos
    Telethusa perque tamen que turbatis matre Paris?</p>

  <p>Adstantem umeri gemini elapsae, solum locum iam hanc <strong>mirabile adnuit</strong>,
    stellis paucis terret tributum ad quis sorores. <em>Primo iuratus</em> tamquam tamen,
    texerat in prato praedone? Unam <strong>lucemque</strong> Orneus viris in qualem Iphin
    siderea si manusque omnia Somnia solent regia femineam corpore, et agitatis.</p>

  <p>Carinam colitur sororibus carinae! Quae esse, nescio falce corpora victu,
    bibulaeque laure mox. Silvani Bacchum nunc profecisse exitus.</p>

  <!-- endinject -->
</div>


<!-- inject:vendor:js -->
<script src="/angular/angular.js"></script>
<script src="/angular-route/angular-route.js"></script>
<script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/angular-scroll/angular-scroll.js"></script>
<script src="/angular-touch/angular-touch.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/aslan-templates.js"></script>
<script src="/controllers/navbar/navbar.js"></script>
<script src="/services/loader/loadspinner.js"></script>
<script src="/services/slides/slides.js"></script>
<script src="/controllers/carousel/carousel.js"></script>
<script src="/controllers/preload/preload.js"></script>
<script src="/services/services.js"></script>
<script src="/controllers/controllers.js"></script>
<script src="/app.js"></script>
<!-- endinject -->
</body>
</html>
