<!DOCTYPE html>
<html ng-app="aslan" id="top">
<head>

  <!-- Meta Tags-->
  <meta charset="utf-8"/>
  <meta name="viewport" content="initial-scale=1"/>
  <meta name="keywords" content="electric electrical contractor franklin bellingham massachusetts"/>
  <meta name="author" content="Nick LaRosa"/>
  <meta name="description"
        content="Aslan is a local electrical contractor in Franklin, Massachusetts. A family business for over 20 years, Aslan is your choice for everything from large commercial lighting retrofits to complex home automation systems.">

  <title>Aslan Electric, Inc.</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <!-- inject:vendor:css -->
  <!-- endinject -->

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/styles/app.css">
  <!-- endinject -->

</head>

<body>

<nav ng-controller="NavCtrl" class="navbar navbar-inverse navbar-fixed-top" ng-class="{darken: nav.darken}"
     role="navigation"
     ng-class="{darken: nav.darken}">
  <div class="container-fluid">


    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="navToggle()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-brand">
        <a ng-class="{darken: nav.darken}" class="navbar-brand" href="#top" ng-click="navClick($event)"
           du-smooth-scroll>Aslan Electric, Inc.</a>
      </div>


      <div class="address" ng-class="{darken: nav.darken}">842 Upper Union St</div>
      <div class="address" ng-class="{darken: nav.darken}">Franklin, MA 02038</div>


      <div class="phone" ng-class="{darken: nav.darken}">
        (508)528-9753
      </div>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="nav.isCollapsed" ng-cloak>
      <ul class="nav navbar-nav navbar-right" ng-class="{darken: nav.darken}">
        <li dropdown is-open="dropDown.isOpen">

          <a ng-class="{darken: nav.darken}" class="dropdown-toggle" href="">Services <span
              class="glyphicon glyphicon-chevron-down"></span></a>
          <ul class="dropdown-menu" ng-class="{darken: nav.darken}" role="menu">

            <li ng-repeat="service in services">
              <a ng-href="{{ service.href }}" ng-click="navClick($event)" du-smooth-scroll><span
                  class="dot glyphicon glyphicon-chevron-right"></span> {{ service.text }}</a>

            </li>
          </ul>
        </li>

        <li>
          <a ng-class="{darken: nav.darken}" href="#about" ng-click="navClick($event)" du-smooth-scroll>About</a>
        </li>
        <li>
          <a ng-class="{darken: nav.darken}" href="#contact" ng-click="navClick($event)" du-smooth-scroll>Contact</a>
        </li>

      </ul>

    </div>

  </div>
</nav>

<div ng-controller="CarouselCtrl">

  <carousel interval="myInterval">

    <load-spinner class="loading" color="#000" ng-cloak>
    </load-spinner>

    <slide ng-repeat="slide in slides" active="slide.active">
      <div class="bg" ng-style="{'background-image':'url(' + slide.url() + ')'}">
        <div class="tint"></div>
      </div>

      <div class="carousel-caption" ng-cloak>
        <div class="shadow">
          <a ng-cloak ng-href="{{ slide.href }}">{{slide.text}}</a>
        </div>
      </div>

    </slide>
  </carousel>

</div>

<content></content>

<preloader></preloader>

<!-- inject:vendor:js -->
<script src="/angular/angular.js"></script>
<script src="/angular-route/angular-route.js"></script>
<script src="/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/angular-scroll/angular-scroll.js"></script>
<script src="/angular-touch/angular-touch.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="/aslan-templates.js"></script>
<script src="/modules/content/content.js"></script>
<script src="/modules/images/images.js"></script>
<script src="/modules/loadspinner/loadspinner.js"></script>
<script src="/modules/navbar/navbar.js"></script>
<script src="/modules/values.js"></script>
<script src="/modules/slides/slides.js"></script>
<script src="/modules/carousel/carousel.js"></script>
<script src="/modules/preloader/preloader.js"></script>
<script src="/modules/services.js"></script>
<script src="/modules/controllers.js"></script>
<script src="/modules/directives.js"></script>
<script src="/app.js"></script>
<!-- endinject -->
</body>
</html>
