<div class="container">
  <h1 id="commercial">Commercial Lighting</h1>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, corporis, cum cumque ducimus et ex, ipsam
    itaque necessitatibus nisi non odit officia reprehenderit soluta suscipit voluptate? Corporis deleniti dolor
    explicabo
    magni minima molestiae neque non nulla qui voluptatum. Debitis, doloribus.
  </div>
  <ul>
    <li class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, porro.</li>
    <li class="item">Corporis eius eligendi facilis illo nihil provident quod rerum velit.</li>
    <li class="item">At ducimus esse explicabo maiores optio perspiciatis placeat ratione, repellat?</li>
    <li class="item">Ad consequatur debitis ipsum odit possimus sunt! Adipisci, eaque, eum!</li>
  </ul>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda delectus eum fugiat harum id labore
    laboriosam magnam maiores nobis, obcaecati, perferendis perspiciatis placeat quas rerum, saepe sed tenetur
    veritatis.
    Accusamus corporis debitis deleniti dolore et facere fuga illum iusto.
  </div>
  <div>Esse, fuga minus? Ab accusantium alias, cum deserunt distinctio doloremque earum eos facere facilis fuga fugit
    illo
    incidunt nam neque nesciunt odit officia porro quasi quidem quo quod reiciendis saepe sit, vel velit voluptas
    voluptate. Cum eligendi nostrum quibusdam quisquam.
  </div>
</div>