<div class="container"><h1 id="fire">Fire Alarm Services</h1>

  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet aspernatur at corporis cumque dolorum,
    ducimus enim exercitationem ipsam maxime nam natus quasi quia quisquam sapiente soluta, voluptatibus! Amet cum
    deleniti eaque illum impedit molestias non pariatur possimus, repellendus reprehenderit.
  </div>
  <ul>
    <li class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quasi?</li>
    <li class="item">Accusantium adipisci culpa cumque exercitationem in, labore quaerat saepe vitae.</li>
    <li class="item">Alias aspernatur aut neque perferendis ratione, repellendus repudiandae saepe sapiente.</li>
    <li class="item">Aliquid aperiam debitis dolores enim est optio quae quis tenetur.</li>
  </ul>
  <div>Autem beatae commodi deleniti dolor dolore dolorum ex fugit illum ipsum libero, minima mollitia similique sint.
    Aut
    consequuntur delectus dolor earum esse facilis impedit in, libero magnam molestias natus numquam omnis placeat, quo
    repudiandae rerum sit suscipit, velit voluptas voluptatum?
  </div>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at beatae commodi debitis deleniti dicta ducimus
    error facilis impedit ipsa maxime, minima perferendis provident quia, quidem quo quod reprehenderit rerum unde ut? A
    architecto, eligendi obcaecati omnis provident qui quisquam.
  </div>
</div>